@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body h1 {
  margin: 50px;
  text-align: center;
}
.boton {
  margin: 10px;
  text-align: center;
}
.formatNav {
  background-color: #00489a;
}
.link li a {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 25px;
}
.card {
  display: flex;
  align-items: center;
}

footer {
  background-color: #00489a;
  padding: 5px;
}
footer p {
  text-align: center;
  color: white;
}

.container-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-text {
  text-align: center;
  margin: 20px;
  font-weight: 1000;
  font-size: 25px;
}
h2 {
  text-align: center;
}


/* ELEMENTO BUTTON AGREGADO EN DOM

section {
  text-align: center;
}
button {
  padding: 5px;
  background-color: rgb(138, 138, 150);
  color: white;
} */
